.App {
  font-family: 'Helvetica Neue', sans-serif;
}

.locations-container {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #146474;
  color: white;
  border: 1px solid rgba(255, 255, 255, .5);
  box-shadow: 0 0 4px 4px rgba(50, 50, 50, .5);
  box-sizing: border-box;
  border-radius: 5px;
  margin: 20px;
}